<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Phobos" value="https://feed.sdkbin.com/nrk-phobos/v3/index.json" />
        <add key="NRK Github" value="https://nuget.pkg.github.com/nrkno/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <Phobos>
            <add key="Username" value="%PHOBOS_NUGET_USERNAME%" />
            <add key="ClearTextPassword" value="%PHOBOS_NUGET_PASSWORD%" />
        </Phobos>
    </packageSourceCredentials>
    <config>
        <add key="dependencyVersion" value="Lowest" />
    </config>
    <packageSourceMapping>
        <packageSource key="Phobos">
            <package pattern="Phobos.*" />
        </packageSource>
        <packageSource key="NRK Github">
            <package pattern="nrk.configuration.vault" />
        </packageSource>
        <packageSource key="nuget.org">
            <package pattern="*" />
            <package pattern="phobos.actor.common" />
        </packageSource>
    </packageSourceMapping>
</configuration>
